@import 'utils';

.movies-list {
  margin-top: 2.4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem 2rem;

  

  &__item {
    max-width: 30rem;

    &:hover {
      color: #cdcdcd;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    
    height: 45rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-top: 1.2rem;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__description {
    margin-top: 0.4rem;

    & span {}
  }

  &__year {}

  &__genre {}

  &__genres {
    margin-top: 0.4rem;
  }  
}


@include minw($lg-mob) {
  .movies-list {
    
    &__item {
      max-width: none;
      width: calc(50% - 1rem);
    }
  
    &__img {
      height: 40rem;
    }
  
    &__description {
  
      & span {}
    }
  
    &__year {}
  
    &__genre {}
  
    &__title {}
  
    &__genres {}  
  }
  
}

@include minw(900px) {
  .movies-list {
  
    &__item {
      width: calc(33% - 4rem/3);
    }
  }
}

@include minw($sm-pc) {
  .movies-list {
    margin-top: 3.6rem;
    justify-content: space-between;
    gap: 5rem 3rem;
  
    &__item {
      width: calc(33% - 2rem);
    }
  
    &__img {
      height: 45rem;
    }
  
    &__description {
      margin-top: 1rem;
  
      & span {}
    }
  
    &__year {}
  
    &__genre {}
  
    &__title {
      font-size: 2rem;
    }
  
    &__genres {}  
  }
}

@include minw($pc) {
  .movies-list {
    margin-top: 3.6rem;
    justify-content: space-between;
  
    &__item {
      width: calc(25% - 9rem/4);
    }
  
    &__img {
      height: 45rem;
    }
  
    &__description {
  
      & span {}
    }
  
    &__year {}
  
    &__genre {}
  
    &__title {}
  
    &__genres {}  
  }
}