.movies-list {
  margin-top: 2.4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 1rem;
    margin-bottom: 3rem;
    width: calc(25% - 2rem);
  }

  &__img {
    position: relative;
    width: 100%;
    height: 40rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    margin-top: 1rem;

    & span {}
  }

  &__year {}

  &__genre {}

  &__title {
    margin-top: 0.4rem;
  }

  &__genres {
    margin-top: 1rem;
  }  
}